{% extends 'partials/base.html' %}
{% load static %}
{% block content  %}
<div class="container mt-5">
<div class="row">
    {% include 'partials/_messages.html' %}
<div class="col-md-9">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">My income</li>
        </ol>
      </nav>
</div>

<div class="col-md-3">
    <a href="{% url 'add-income' %}" class="btn btn-primary">
        Add Income
    </a>
</div>
</div>
</div>

<div class="container mt-4">
    {% if incomes.count %}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control"  id="searchField"  placeholder="search">
            </div>
        </div>
    </div>
   
     <div class="app-table">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount   <span style="color: blue;">( {{currency}} )</span></th>
                    <th>Description</th>
                    <th>source</th>
                    <th>Date of expense</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for income in page_obj %}
                <tr>
                    <td>{{income.amount}}</td>
                    <td>{{income.description}}</td>
                    <td>{{income.source}}</td>
                    <td>{{income.date}}</td>
                    <td ><a href="{% url 'edit-income' income.id %}" class="btn btn-secondary btn-sm"> EDIT </a></td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    
    </div>

    <div class="table-output">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount  <span style="color:blue;">( {{currency}} )</span></th>
                    <th>Description</th>
                    <th>source</th>
                    <th>Date of expense</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-body">
               
            </tbody>
        </table>
    </div>
     


    <div class="pagination-container">
    <div class="align-right"  style="color:red;">
        showng page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </div>
    <div>
    <ul class="pagination" style="float:right;">
        {% if page_obj.has_previous %}
         
        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %} ><a class="page-link" href="?page=1" >&laquo; 1</a></li>
        <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link">prev</a></li>
        {% endif %}
        
        {% if page_obj.has_next %}
        <li class="page-item" ><a class="page-link" href="?page={{page_obj.next_page_number}}" >next</a></li>
        <li class="page-item"><a href="?page={{page_obj.paginator.num_pages}}" class="page-link">{{page_obj.paginator.num_pages}}&raquo;</a></li>

        {% endif %}
    </ul>

    {% endif %}
</div>
</div>
</div>

<script src="{% static 'js/search_income.js' %}"></script>
{% endblock content %}