{% extends 'partials/base.html' %}
{% block content %}
 
<div class="list-table">
    <table class="table table-stripped table-hover">
        
        <thead>
            <tr>
                <td>Name</td>
                <td>Is Admin</td>
                <td>Change Admin</td>
                <td>Remove member</td>
            </tr>
        </thead>
        <tbody>
            {% for  member in members %}
                <tr>
                    <td>{{member.member}}</td>
                    <td>{{member.admin}}</td>
                    <td><a class="btn btn-sm btn-secondary" href="{% url 'change_admin_status' member.member group %}">change admin status</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'remove_user' member.member group %}">Remove {{member.member}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <a href="{% url 'add_member' group %}" class="btn btn-primary">Add member</a>
  <a href="" class="btn btn-danger">Delete group</a>
  <a href="{% url 'list_requests' group %}"  class="btn btn-secondary">Join requests</a>
  <a href="{% url 'group_currency_list' group %}" class="btn btn-secondary">Change currency</a>
  <a href="{% url 'group_summary_admin' group %}" class="btn btn-secondary">summary</a>

<script>
    const entries=performance.getEntriesByType("navigation");
entries.forEach((entry)=>{
  if(entry.type==="back_forward"){
    location.reload()
  }
});
</script>
{% endblock %}