{% extends 'partials/base.html' %}
{% block content %}
    {% include 'partials/_messages.html' %}
    <div class="container ml-4">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" placeholder="search" id="searchField" class="form-control" autocomplete="off">
                </div>
                
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-5">
                <a href="{% url 'add_group_individual_expense' group pk %}" {% if request.user.pk != pk %} class=" btn btn-secondary disabled" {% else %} class="btn btn-primary" {% endif %}> Add New Expense</a>
            </div>
        </div>
        {% if expenses.count %}
        <div class="row list-table">
            <table class="table table-stripped table-hover">
                <thead>
                    <th>name</th>
                    <th>expense</th>
                    <th>date</th>
                    <th>description</th>
                    <th>Edit</th>
                </thead>
                <tbody>
                    {% for expense in page_obj %}
                        <tr>
                            <td>{{expense.individual_name}}</td>
                            <td>{{expense.expense_amount}}</td>
                            <td>{{expense.expense_date}}</td>
                            <td>{{expense.description}}</td>
                            {% if request.user == expense.individual_name %}
                            <td><a href="{% url 'edit_group_expense' expense.id %}" ><i class="fa fa-pencil"></i></a></td>
                            {% else %}
                            <td><i class="disabled fa fa-pencil"></i></td>
                            {% endif %}
                            
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination_container">

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; 1</a></li>
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link">previous</a></li>
                    {% endif %}
                    <div class="align-right"  style="color:red; padding: 1% 2% 0 2%;">
                        showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                    </div>
                    {% if page_obj.has_next %}
                    <li class="page-item" style="padding-left: 20%;float: right;"><a href="?page={{page_obj.next_page_number}}" class="page-link">next</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}} &raquo;</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>

<div class="search-table">
    <table class="table table-stripped table-hover">
        <thead>
            <th>expense</th>
            <th>date</th>
            <th>description</th>
            <th>Edit</th>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>

</div>

<script defer>
const entries=performance.getEntriesByType("navigation");
entries.forEach((entry)=>{
  if(entry.type==="back_forward"){
    location.reload()
  }
});

const paginationcontainer=document.querySelector('.pagination_container');
const display_table=document.querySelector('.search-table');
const hide_table=document.querySelector('.list-table');
const tbody=document.querySelector('#tbody');

const searchbutton=document.querySelector('#searchField');

display_table.style.display='none';

console.log(tbody)

searchbutton.addEventListener('keyup',(e)=>{
    SearchText=e.target.value;
    if(SearchText.length>0){
        tbody.innerHTML=''
        paginationcontainer.style.display='none';

        fetch('/groups/search_group_individual_expenses/{{group}}/{{pk}}',{
            method:'POST',
            body:JSON.stringify({'SearchText':SearchText})
        }).then((data)=>data.json()).then((elements)=>{
            hide_table.style.display='none';
            display_table.style.display='block';

            if(elements.length<=1){
                tbody.innerHTML='no element found'
            }
            

            else{
            last=elements[elements.length-1]
            elements.pop()
            elements.forEach(element=>{
                console.log('here')
                if(element.individual_name_id===last.request_user){
                tbody.innerHTML+=`
                <tr>
                    <td> ${element.expense_amount} </td>
                    <td> ${element.expense_date} </td>
                    <td> ${element.description} </td>
                    <td> <a class="btn btn-sm btn-primary" href="/groups/edit_group_expense/${element.id}"> <i class="fa fa-pencil"></i></a> </td>
                    </tr>
                    

                `
                }
                else{
                    tbody.innerHTML+=`
                <tr>
                    <td> ${element.expense_amount} </td>
                    <td> ${element.expense_date} </td>
                    <td> ${element.description} </td>
                    <td> <i class="disabled fa fa-pencil"></i></td>
                    </tr>
                    

                `
                }
            })
        } 

        })


    }
    else{
        paginationcontainer.style.display='block'; 
        hide_table.style.display='block';
        display_table.style.display='none';
    }
});

</script>
{% endblock %}