{% extends 'partials/base_auth.html' %}

{% load static %}

{% block content %}
<div class="container">
<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4>Register for a free account</h4>
            
                {% include 'partials/_messages.html' %}
             
                <form action="{% url 'password-reset' uidb64 token %}" method="post">
                       {% csrf_token %}
                   
                    <div class="form-group form-custom">
                        <input type="password" 
                        value="{{fieldvalues.password}}"
                        name="password"
                         placeholder="passowrd" 
                         id="passwordfield" 
                         class="form-control form-control-sm passwordfield" 
                         />

                         <!-- <small class="show-password-toggle" style="float:right;margin: 10px 0 10px 0;">SHOW</small>
                    </div> -->

                    <div class="form-group form-custom mt-4">
                        <input type="password" 
                        value="{{fieldvalues.password}}"
                        name="password2"
                         placeholder="confirm passowrd" 
                         id="passwordfield2" 
                         class="form-control form-control-sm passwordfield"
                         />

                         <small class="show-password-toggle" style="float:right;margin: 10px 0 10px 0;">SHOW</small>
                    </div>

                    <input type="submit" value="submit" class="btn btn-secondary btn-block submit-btn">
                </form>
                <div class="container">
                    <span style="color: rgb(103, 110, 0);">have an account </span><a class="nav-item" href="{% url 'login' %}">Login</a><br>
                    <span style="color: red;">no account </span><a class="nav-item" href="{% url 'register' %}">Register</a>
                </div>
        </div>
    </div>
    </div>
    <div class="col-3"></div>
</div>
</div>

<script  src="{% static 'js/register.js' %}">  </script>

{% endblock %}